body{
    background-image: url('../images/fondo.jpg');
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar {
    background-color: #000; /* Cambia esto al color negro que desees (#000 es negro absoluto) */
}

.navbar-brand{
   margin-left: 1rem;
}

.navbar-nav a {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente según tus preferencias */
}

  .navbar-toggler-icon {
    background-color: rgb(0, 0, 0); /* Cambia esto al color que desees */
}

/* Agrega tus estilos personalizados aquí */
.logos-section {
    padding: 5px 0;
}
.logos-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logos-section img {
    max-width: 20%;
    margin-top: 0px;
    height: auto;
    max-height: 60px;
    margin-bottom: 0px;
}

/* Estilo para los enlaces de los logos */
.logo-link {
    display: block;
    text-decoration: none;
    color: inherit; /* Hereda el color del texto del contenedor padre */
    background-color: rgb(255, 255, 255); /* Fondo blanco transparente */
    padding: 10px; /* Ajusta el relleno según tus necesidades */
    border-radius: 15px; /* Agrega bordes redondeados */
}

.logos-section .logo-link {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.logos-section .logo-link.show {
  opacity: 1;
  transform: translateX(0);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #00000067; /* Cambia este valor al color que desees */
  width: 5%;
}

h2.text-center.mb-4 {
  color: white;
}

/* Agrega estos estilos a tu hoja de estilos CSS */
.new-arrivals-section {
  margin-top: 50px; /* Ajusta el valor según la separación deseada */
}
/* Agrega estos estilos a tu hoja de estilos CSS */
.card {
  max-width: 100%;
  margin: 0%;
  box-shadow: 0 4px 8px rgb(0, 0, 0); /* Ajusta los valores según la sombra deseada */
}

.card h5{
  color: #000;
}



.original-price {
  color: #c21717; /* Cambia el color del precio original según tus preferencias */
  font-size: 18px; /* Ajusta el tamaño del precio original según tus preferencias */
  font-weight: bold; /* Hace que el precio original sea más grueso */
  margin-bottom: 5px; /* Ajusta el margen inferior según tus necesidades */
}

.offer-label {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical según tus preferencias */
  left: 10px; /* Ajusta la posición horizontal según tus preferencias */
  background-color: #4CAF50; /* Color verde del cartel de oferta */
  color: #fff; /* Color del texto del cartel de oferta */
  padding: 5px 10px; /* Ajusta el relleno del cartel según tus preferencias */
  border-radius: 5px; /* Ajusta el redondeo de las esquinas del cartel según tus preferencias */
  font-weight: bold; /* Hace que el texto sea más grueso */
}

.offer-labelv {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical según tus preferencias */
  left: 10px; /* Ajusta la posición horizontal según tus preferencias */
  background-color: #b24219; /* Color verde del cartel de oferta */
  color: #fff; /* Color del texto del cartel de oferta */
  padding: 5px 10px; /* Ajusta el relleno del cartel según tus preferencias */
  border-radius: 5px; /* Ajusta el redondeo de las esquinas del cartel según tus preferencias */
  font-weight: bold; /* Hace que el texto sea más grueso */
}

.best-sellers-section {
  margin-top: 40px; /* Ajusta el valor según la separación deseada */
}

/* Estilos para la sección de categorías */
.categories-section {
  background-color: #000000; /* Fondo blanco */
  padding: 10px 0; /* Ajusta el espacio interior según sea necesario */
}

/* Estilos para cada categoría */
.category {
  text-align: center;
  margin-bottom: 20px; /* Espacio entre categorías */
}

.category a {
  display: block; /* Hacer el enlace de la imagen de bloque completo */
}

.category img {
  max-width: 30%; /* Ancho máximo del 100% para llenar su contenedor */
  height: auto; /* Para mantener la proporción de la imagen */
  border-radius: 10px; /* Bordes redondeados para la imagen */
  margin-bottom: 10px; /* Espacio inferior entre las imágenes */
}




/* Estilos personalizados para el aside */
aside {
  
  background-image: url('../images/fondo.jpg');
  
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  }
  
  
  /* Estilos para las categorías */
  .categoria {
  margin: 0px;
  padding: 8px 30px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50px;
  }
  
  
  .categoria:hover {
  background-color: #ffffff;
  color: #000;
  }

  
 
  
  /* Estilos adicionales para las tarjetas de productos */


.card-body{
  background-color: #ffffff;
  margin-bottom: -20px;
}



.card-productos {
  width: 60%;
  height: 60%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 0%;
  margin: 0 auto; /* Centrar las tarjetas */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}


.card-img-top {
  width: 100%;
  height: auto;
}



.card-title-producto {
  font-size: 1.25rem; /* Tamaño del título */
  
}

.card-price {
  font-weight: 900; /* Cambia el grosor del texto */
  color: black; /* Cambia el color del texto a negro */
  
}

.original-price {
  text-decoration: line-through; /* Precio original tachado */
  color: #ff0000;
}

.btn-primary {
  background-color: #4CAF50; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #45a049; /* Cambia el color al pasar el ratón */
}
  
  
  /* Estilos para el enlace que parece un botón */
  .btn-enlace {
  display: inline-block;
  padding: 10px 20px; /* Ajusta según sea necesario */
  font-size: 16px; /* Ajusta según sea necesario */
  text-align: center;
  text-decoration: none;
  background-color: #007bff; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  border-radius: 5px; /* Bordes redondeados */
  border: 1px solid #007bff; /* Borde del botón */
  cursor: pointer;
  }
  
  
  /* Cambiar el color del botón al pasar el ratón sobre él */
  .btn-enlace:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  }
  
  
  .container {
  max-width: 1300px; /* Ancho máximo del contenedor principal */
  margin: 50px auto; /* Centra el contenedor en la página */
  }
  
  
  .column {
  display: flex; /* Usa flexbox para organizar los elementos en columna */
  justify-content: space-between; /* Espaciado uniforme entre los elementos */
  }

  .expanded {
    width: 100%; /* Ajusta el tamaño como desees */
    height: auto;
  }

   /* Estilos personalizados para la sección */
   #info-section {
    background-image: url('../images/fondo.jpg'); /* Color de fondo oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 50px 0; /* Espaciado interno */
}

/* Estilos para los iconos */
.info-icon {
    font-size: 3em; /* Tamaño del icono */
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos adicionales para el texto */
.info-text {
    font-size: 1.5em; /* Tamaño del texto */
    text-align: center; /* Alineación del texto al centro */
}

  /* Estilos personalizados para la sección */
  #favorite-brands-section {
    background-image: url('../images/fondo.jpg'); /* Color de fondo oscuro */
    color: #fff; /* Color de texto blanco */
    padding: 50px 0; /* Espaciado interno */
}

/* Estilos para los iconos */
.brand-icon {
  border-radius: 15px;
  padding: 20px;
  width: 120px; /* Ancho de la imagen */
  height: 120px; /* Altura de la imagen */
  margin: 0 20px 20px; /* Espaciado horizontal entre las imágenes */
}

/* Estilos adicionales para el texto */
.brand-title {
    font-size: 2em; /* Tamaño del título */
    text-align: center; /* Alineación del texto al centro */
    margin-bottom: 30px; /* Espaciado inferior */
}

.whatsapp-logo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.whatsapp-logo img {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    border-radius: 10%; /* Agrega bordes redondeados */
}

/* Estilos adicionales para el botón de WhatsApp */
.whatsapp-button {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #4CAF50; /* Color verde */
  color: white;
  text-decoration: none;
  font-size: 18px; /* Tamaño de letra más grande */
  
}

.descuento {
  color: #FFD700; /* Color dorado para destacar el 10% */
}

#whatsappButton {
  margin-top: 2rem;
  background-color: #fff; /* Color claro para el botón */
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #000; /* Color del texto */
  display: block;
}



/* Estilos generales del footer */
.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
}

.footer-logo {
  max-width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
}

/* Estilos para los enlaces */
.footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
}

/* Estilos para los íconos de redes sociales */
.social-link {
  color: #fff;
  font-size: 33px;
  margin: 0 10px;
}

/* Estilos para los números de teléfono y ubicación */
.footer a.tel-link {
  color: #fff;
  text-decoration: none;
}

/* Estilos para la ubicación */
.footer .location {
  font-style: italic;
}

 .card-body {
  margin-bottom: 10px; /* Ajusta este valor según sea necesario */
}

/* Establecer un tamaño máximo para las imágenes del carrusel */
#cardCarousel .carousel-item img {
  max-width: 70%;
  height: auto;
  max-height: 70%; /* Ajusta el valor según sea necesario para mantener una altura consistente */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
}

#newArrivalsCarousel .carousel-item img {
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Ajusta el valor según sea necesario para mantener una altura consistente */
  margin: 0 auto; /* Centrar las imágenes horizontalmente */
}

#bestSellersCarousel .carousel-item img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta el valor según sea necesario para mantener una altura consistente */
    margin: 0 auto; /* Centrar las imágenes horizontalmente */
  }


/* Flexbox para 3 logos por línea en dispositivos grandes */
@media (min-width: 768px) {
  .logos-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .logos-section .col-md-4 {
    flex-basis: calc(33.33% - 20px); /* 20px es el margen entre los logos */
    margin-bottom: 20px;
  }

  .new-arrivals-section .card-body {
    margin-bottom: 10px; /* Ajusta este valor según sea necesario */
  }

  
}